<% if current_user.admin %>
	<h2>User Status: Admin</h2>
	<%= link_to "Ingredients", :controller => 'ingredients', :action => 'index' %>
<% end %>

<h1>Recipes Authored</h1>
<% @user.authored_recipes.each do |recipe| %>
	<%= link_to recipe.title, recipe_path(recipe) %><br />
<% end %>

<h1>Recipes Queued</h1>
<%= link_to 'Print', { :action => 'print', :all_recipes => 'true' } %><br />
<% @user.queued_recipes.each do |qr| %>
	<%= link_to qr.recipe.title, qr.recipe %> <span>|</span> <!-- hotfix for printing --> 
	<%= link_to "remove",  queued_recipe_path(qr), :method => :delete %><br />
<% end %>
<br />

<%= link_to 'Print', { :action => 'print', :table_ingredients => 'true' } %>
<div class="printable">
	<%= render :partial => 'table_ingredients' %>
</div>
<br />

<%= form_for @user, url: ingredients_list_path(current_user) do |f| %>
	<fieldset id="recipe-ingredients">
		<ol>
			<%= f.fields_for :quantities do |quantity| %>
				<%= render 'quantity_fields', f: quantity %>
			<% end %>
		</ol>
		<%= link_to_add_association 'add ingredient', f, :quantities, 'data-association-insertion-node' => "#recipe-ingredients ol", 'data-association-insertion-method' => "append", :wrap_object => Proc.new {|quantity| quantity.build_ingredient; quantity } %>
	</fieldset>
    <%= f.submit %>
<% end %>