<script>
function getAllElementsByClass(className) {
	return document.getElementsByClassName(className);
}
function addClassToElements(className, elements) {
	for(var i=0; i<elements.length; i++) {
		elements[i].className += " " + className;
	}
}
function removeClassToElements(className, elements) {
	for(var i=0; i<elements.length; i++) {
		elements[i].className = elements[i].className.replace(new RegExp('\\b' + className + '\\b'), '')
	}
}

function hideImages() {
	var elements = getAllElementsByClass("recipe-image");
	addClassToElements("hidden-print visible-print-block", elements);
}
function showImages() {
	var elements = getAllElementsByClass("recipe-image");
	removeClassToElements("hidden-print visible-print-block", elements);
}
</script>

<div class="container hidden-print">
	<div class="col-md-4 col-md-offset-2">
		<div class="row" style="margin:3px;">
		<%= link_to 'Print', '#', :onClick => 'javascript:print()', 
	          :class => "btn btn-danger btn-sm" %>
	    </div>
		<div class="row" style="margin:3px;">
		    <%= link_to 'Hide Images', '#', :onClick => 'hideImages()', 
		          :class => "btn btn-danger btn-sm" %>
		    <%= link_to 'Show Images', '#', :onClick => 'showImages()', 
		          :class => "btn btn-danger btn-sm" %>
	    </div>
	</div>
	<div class="col-md-4">
		This text and these controls will not be printed. Please use the controls on the left to adjust how your printout should look.
	</div>
</div>

<% if params[:table_ingredients] %>
	<%= render :partial => 'table_ingredients' %>
<% end %>
<% if params[:all_recipes] %>
	<% @all_recipes.each do |recipe| %>
		<%= render "recipes/recipe", :@recipe => recipe %><hr />
		<div class="page-break"></div>
	<% end %>
<% end %>