<div class="header">
	<div class="container">
		<div class="row">
			<div class="col-md-2 col-sm-2">
				<!-- Logo -->
				<div class="logo">
					<h1><a href="index-2.html">Meal&nbsp;Planner</a></h1>
				</div>
			</div>
			<div class="col-md-6 col-sm-5">
				<!-- Navigation menu -->
				<div class="navi">
					<div id="ddtopmenubar" class="mattblackmenu">
						<ul>
							<li><a href="#" rel="ddsubmenu1">Home</a>
								<ul id="ddsubmenu1" class="ddsubmenustyle">
									<li><a href="index-2.html">Revolution Slider</a></li>
									<li><a href="index-alt.html">Bootstrap Slider</a></li>
								</ul>
							</li>
							<li><a href="#" rel="ddsubmenu1">Account</a>
								<ul id="ddsubmenu1" class="ddsubmenustyle">
									<li><a href="account.html">My Account</a></li>
									<li><a href="/ingredients_list">My Ingredients</a></li>
									<li><a href="checkout.html">Checkout</a></li>
									<li><a href="wishlist.html">Wish List</a></li>
									<li><a href="orderhistory.html">Order History</a></li>
									<li><a href="editprofile.html">Edit Profile</a></li>
									<li><a href="confirmation.html">Confirmation</a></li>
								</ul>
							</li>
							<li><a href="#" rel="ddsubmenu1">Pages</a>
								<ul id="ddsubmenu1" class="ddsubmenustyle">
									<li><a href="404.html">404</a></li>
									<li><a href="faq.html">FAQ</a></li>
									<li><a href="blog.html">Blog</a></li>
									<li><a href="careers.html">Careers</a></li>
									<li><a href="comingsoon.html">Coming Soon</a></li>
									<li><a href="support.html">Support</a></li>
									<li><a href="aboutus.html">About</a></li>
								</ul>
							</li>
							<li><a href="#" rel="ddsubmenu1">Computers</a>
								<ul id="ddsubmenu1" class="ddsubmenustyle">
									<li><a href="items.html">Desktop</a></li>
									<li><a href="items.html">Laptop</a></li>
									<li><a href="items.html">NetBook</a></li>
									<li><a href="items.html">All-In-One PC</a></li>
									<li><a href="items.html">Alienware</a></li>
								</ul>
							</li>                       
							<li><a href="contactus.html">Contact</a></li>
						</ul>
					</div>
				</div>
				<!-- Dropdown NavBar -->
				<div class="navis">
					<select>
						<option selected="selected" value="">Menu</option>
						<option value="#">Home</option>
						<option value="/ingredients_list/">My Ingredients</option>
					</select>
				</div>
			</div>
			<div class="col-md-4 col-sm-5">
				<div class="kart-links">

					
						<% if user_signed_in? %>
						  <!--Logged in as <strong><%= current_user.email %></strong>.-->
						  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
						  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
						<% else %>
						  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
						  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
						<% end %>
					<!-- -->

					<!-- <a href="login.html">Login</a> 
					<a href="users/sign_up">Signup</a><!-- -->
					
				</div>
			</div>
		</div>
	</div>
</div>

<!-- nav ends -->