<div class="blog">
  <div class="container">
    <!-- Recipe Properties -->
    <div class="row">
      <div class="col-sm-9">
        <% if @recipe.property.vegan %>
          <div class="lifestyle col-sm-3"><span>Vegan</span></div>
        <% elsif @recipe.property.vegitarian %>
          <div class="lifestyle col-sm-3"><span>Vegitarian</span></div>
        <% end %>
        <% if @recipe.property.glutenFree %>
          <div class="allergen col-sm-3"><span>Gluten Free</span></div>
        <% end %>
        <% if @recipe.property.lactoseFree %>
          <div class="allergen col-sm-3"><span>Lactose Free</span></div>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <!-- Sidebar 1 -->
        <div class="sidebar">
          <!-- Widget -->
          <div class="widget">
            <%= image_tag @recipe.assets.first.image.url(:medium), :class => "img-responsive recipe-image" %>
          </div>
          <div class="widget">
            <% list_name = @recipe.quantities.first.listName %>
            <% if @recipe.quantities.first.listName.to_s != "" %>
              <h4><%= @recipe.quantities.first.listName %></h4>
            <% else %>
              <h4>Ingredients:</h4>
            <% end %>
            <ul>
              <% @recipe.quantities.each do |qty| %>
                <% if qty.listName != list_name %>
                  </ul>
                  <br />
                  <h4><%= qty.listName %></h4>
                  <% list_name = qty.listName %>
                  <ul>
                <% end %>
                <li><%= qty.amount %> <%= qty.ingredient.name %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-sm-5">
        <div class="posts">
          <div class="entry">
            <h2><%= @recipe.title %></h2>
            <!-- Meta details
            <div class="meta">
              <i class="fa fa-calendar"></i> 26-2-2012 <i class="fa fa-user"></i> Admin <i class="fa fa-folder-open"></i> <a href="#">General</a> <span class="pull-right"><i class="fa fa-comment"></i> <a href="#">2 Comments</a></span>
            </div>

            <!-- Thumbnail -->
            <a href="#"><%= @recipe.author.email %></a>
            <div class="bthumb"></div>

            <!-- Description -->
            <p><%= @recipe.description %></p>
            <div class="bthumb"></div>

            <!-- Instructions -->
            <p><%= @recipe.instructions %></p>
            <div class="bthumb"></div>
          </div>
          <div class="clearfix"></div>

        </div>
      </div>                        

      <div class="col-sm-3">
        <%# This space can be used for something %>                                              
      </div>
    </div>
  </div>
</div>