<% if user_signed_in? %>
	<%= form_for @recipe, html: {class: "form-horizontal"} do |f| %>
		<fieldset id="recipe-meta">
			<ol>
				<li class="control-group">
					<%= f.label :title, "Recipe Name", class: "control-label" %>
					<div class="controls"><%= f.text_field :title %></div>
				</li>
				<li class="control-group">
					<%= f.label :description, "A breif description of this recipe", class: "control-label" %>
					<div class="controls"><%= f.text_area :description, rows: 5 %></div>
				</li>
				<li class="control-group">
					<%= f.label :instructions, "Instructions for this recipe", class: "control-label" %>
					<div class="controls"><%= f.text_area :instructions, rows: 10 %></div>
				</li>
			</ol>
		</fieldset>

		<fieldset id="recipe-ingredients">
			<ol>
				<%# partials render here %>
			</ol>
			<%= link_to_add_association 'add new list', f, :quantities, partial: 'quantity_list_fields', 'data-association-insertion-node' => "#recipe-ingredients ol", 'data-association-insertion-method' => "append" %> | 
			<%= link_to_add_association 'add ingredient', f, :quantities, 'data-association-insertion-node' => "#recipe-ingredients ol", 'data-association-insertion-method' => "append" %>
		</fieldset>

		<%= f.submit %>
	<% end %>
<% end %>