<%= form_for :ingredient, :url => update_multiple_ingredients_path, :html => { :method => :put } do |f| %>
	<%= f.label :name %>
	<table border="1">
		<tr>
			<th>Ingredient</th>
			<th>Vegitarian</th>
			<th>Vegan</th>
			<th>Lactose Free</th>
			<th>Gluten Free</th>
			<th>Buy in whole units</th>
		</tr>
		<% @ingredients.each do |ingredient| %>
		<tr>
			<%# http://guides.rubyonrails.org/form_helpers.html#understanding-parameter-naming-conventions %>
			<%= f.fields_for ingredient, index: ingredient.id do |i| %>
				<td><%= ingredient.name %></td>
				<%= i.fields_for ingredient.property do |p| %>
					<td><%= p.check_box("vegitarian", {checked: ingredient.property.vegitarian}) %></td>
					<td><%= p.check_box("vegan", {checked: ingredient.property.vegan}) %></td>
					<td><%= p.check_box("lactoseFree", {checked: ingredient.property.lactoseFree}) %></td>
					<td><%= p.check_box("glutenFree", {checked: ingredient.property.glutenFree}) %></td>
				<% end %>
				<td><%= i.check_box("buyInWholeUnits", {checked: ingredient.buyInWholeUnits}) %></td>
			<% end %>
		</tr>
		<% end %>
	</table>
	<p><%= f.submit "Submit" %></p>
<% end %>