<% if user_signed_in? %>
	<%= @params %>
	<p>
		<%= form_for @base_ingredient do |bif| %>
		    <%= bif.label :base_ingredient %><br />
 			<%= bif.text_field :name, class: "ingredient_autocomplete" %>

			<%= bif.submit "Use Base", disabled: @base_ingredient.name %>
 		<% end %>
	</p>

	<%= form_for @ingredient do |f| %>
		
		<p>
		  <%= f.label :name %><br>
		  <%= f.text_field :name %>
		</p>
		
		  <%= f.label :vegitarian %>
		  <%= f.check_box("[property_attributes]vegitarian", 
							{checked: @base_ingredient.property.vegitarian}) %><br />
		  <%= f.label :vegan %>
		  <%= f.check_box("[property_attributes]vegan", 
							{checked: @base_ingredient.property.vegan}) %><br />
		  <%= f.label :lactoseFree %>
		  <%= f.check_box("[property_attributes]lactoseFree", 
							{checked: @base_ingredient.property.lactoseFree}) %><br />
		  <%= f.label :glutenFree %>
		  <%= f.check_box("[property_attributes]glutenFree", 
							{checked: @base_ingredient.property.glutenFree}) %><br />
		  <%= f.label :buyInWholeUnits %>
		  <%= f.check_box("buyInWholeUnits") %><br />
		<%= f.submit %>
	<% end %>
<% end %>